+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="1º Curso de Epigenética Inter e Transgeracional: mecanismos, evolução, herança e reversibilidade" image_anchor="top" height="full" color="black" >}}
{{< blocks/cover title="Bem-vindo ao site do curso de Epigenética Inter e Transgeracional!" image_anchor="top" height="full" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Faça sua inscrição! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Descobrindo sobre os mecanismos epigenéticos, seus efeitos a níveis evolutivos, na herdabilidade e reversibilidade !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
O curso de Epigenética Inter e Transgeracional é promovido e ofertado pelo Programa de Pós-Graduação em Genética e pelo Laboratório de Genética Molecular Humana, ambos localizados no Departamento de Genética da Universidade Federal do Paraná (UFPR, Curitiba, Brasil). 
<p>
Nosso principal objetivo é auxiliar na compreensão dos mecanismos e fenômenos epigenéticos a nível inter e transgeracional....
{{% /blocks/lead %}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-cogs" title="Mecanismos epigenéticos!" url="/sobre" %}}
Nesse bloco de estudo vamos compreender quais são os principais mecanismos e sua forma de atuação para a modificação da expressão gênica!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-filter" title="Herança, Evolução e Epigenética!" url="/sobre" %}}
Como os mecanismos epigenéticos são transmitidos e afetam as próximas gerações!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-dna" title="Reversibilidade de Alterações Epigenéticas!" url="/sobre" %}}
Como podemos reverter as marcas epigenéticas? 
{{% /blocks/feature %}}


{{< /blocks/section >}}

